trigger:
- main
- master

pool:
  name: CloudProjectPool

steps:

# 1. Show PHP version
- script: php -v
  displayName: "Show PHP version"

# 2. Install Composer dependencies
- script: composer install --no-interaction --prefer-dist --optimize-autoloader
  displayName: "Install Composer dependencies"

# REMOVE key:generate (this causes the error)

# 3. Laravel optimize
- script: php artisan optimize
  displayName: "Optimize Laravel"

# 4. Create artifact (zip)
- task: ArchiveFiles@2
  displayName: "Archive project files to app.zip"
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
    replaceExistingArchive: true

# 5. Publish artifact
- task: PublishBuildArtifacts@1
  displayName: "Publish Artifact: phppapp"
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'phppapp'
    publishLocation: 'Container'
