trigger:
- master

pool:
  name: CloudProjectPool   # your self-hosted agent pool

steps:
- script: |
    php -v
  displayName: 'Show PHP version'

- script: |
    composer install --no-dev --optimize-autoloader
  displayName: 'Install Composer dependencies'

- script: |
    php artisan key:generate --force
  displayName: 'Generate APP_KEY'

- script: |
    php artisan config:cache
    php artisan route:cache
    php artisan view:cache
  displayName: 'Optimize Laravel'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)'
    ArtifactName: 'phpapp'
    publishLocation: 'Container'
